<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
<div class="row">
  <h1 class="proy">Proyectos realizados</h1>
  <h1> </h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Carta de presentacion</h2>
      <p>Proyecto integrador de Argentina programa, un gran proyecto de 2 meses de relizacion en el que use HTML,CSS, JavaScrip, Angular,
        bootstrap, github, Base de datos. Este proyecto me permitio aplicar lo aprendido qeu es la mejor forma de fijar los contenidos.
        </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/proy1.png" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
<div class="row">
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Agenda</h2>
      <p>Lorem ipsum dolor sit amet
        consectetur adipisicing elit.
        Quo dolore optio sit debitis
        voluptate eveniet nesciunt
        laboriosam. Repudiandae, cum
        inventore! Distinctio veritatis
        dolorem dolores nemo architecto?
        Maxime, exercitationem. Non, earum?</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/2fondo.jpg" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
<div class="row">
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h2>Agenda</h2>
      <p>Lorem ipsum dolor sit amet
        consectetur adipisicing elit.
        Quo dolore optio sit debitis
        voluptate eveniet nesciunt
        laboriosam. Repudiandae, cum
        inventore! Distinctio veritatis
        dolorem dolores nemo architecto?
        Maxime, exercitationem. Non, earum?</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/2fondo.jpg" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
