<div class="row">
    <h1 class="yo">Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Argentina Programa</h1> - <h3>(2022)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Doloribus ipsum illum
                quibusdam reprehenderit voluptatem a atque.
                Accusamus est illo similique ex aperiam quas
                qui harum in, provident quia, quisquam
                sapiente!
            </p>
            <li><h1>Udemy Python</h1> - <h3>(2020)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Doloribus ipsum illum
                quibusdam reprehenderit voluptatem a atque.
                Accusamus est illo similique ex aperiam quas
                qui harum in, provident quia, quisquam
                sapiente!
            </p>
            <li><h1>Analisis de datos</h1> - <h3>(2019)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Doloribus ipsum illum
                quibusdam reprehenderit voluptatem a atque.
                Accusamus est illo similique ex aperiam quas
                qui harum in, provident quia, quisquam
                sapiente!
            </p>

        </ul>
    </div>
</div>
