.row{
  background-color: #548284;

}
footer{
  color: rgb(219, 214, 214);
  font-family: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 2px 2px 5px whitesmoke;

}
