<div class="row">
    <h1 class="yo">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Doloribus ipsum illum
                quibusdam reprehenderit voluptatem a atque.
                Accusamus est illo similique ex aperiam quas
                qui harum in, provident quia, quisquam
                sapiente!
            </p>
            <li><h1>Trabajo 2</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Doloribus ipsum illum
                quibusdam reprehenderit voluptatem a atque.
                Accusamus est illo similique ex aperiam quas
                qui harum in, provident quia, quisquam
                sapiente!
            </p>
            <li><h1>Trabajo 3</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Doloribus ipsum illum
                quibusdam reprehenderit voluptatem a atque.
                Accusamus est illo similique ex aperiam quas
                qui harum in, provident quia, quisquam
                sapiente!
            </p>

        </ul>
    </div>
</div>
