<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil2.jpg" class="img-fluid" id="foto">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">Ientile Miguel</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Pner sombras y movimientos en las foto de prefil
              Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Earum dolorum quisquam
                suscipit, consequatur excepturi numquam
                assumenda quos aut eum corrupti eius porro
                ut unde est fuga consequuntur voluptatibus
                vitae quis.</p>
        </span>

    </div>
</div>
