.row{
    padding: 20px;
}
div{
    background-color: #548284;
    text-align: center;
}
#nombre{
    font-weight: 600;
    margin-top: 20%;
    color: rgb(7, 7, 84);
    text-shadow: 4px 4px 6px rgb(184, 193, 219);
}
.yo{
  font-family: 'Bebas Neue', cursive;
}
#titulo{
  color: rgb(7, 7, 84);
}

@media (min-width: 576px){
    #foto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 80%;


    }
}
@media (min-width: 401px) and (max-width: 575px){
    #foto{
        position: absolute;
        width: 50%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 25%;
        top: 90%;

    }
}
@media (max-width: 400px){
    #foto{
        position: absolute;
        width: 50%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 25%;
        top: 70%;

    }
}
