<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil2.jpg" class="img-fluid" id="foto">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">Ientile Miguel</h1>
        <p><b>Stack Developer Jr</b></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>

            <marquee behavior="scroll" direction="left" scrollamount="20"><h1 id="titulo">>>>>>>>>>>>>  Acerca de mi  <<<<<<<<<<< </h1></marquee>
            <p><b>
              Soy una persona analitica, metodica y dinamica, debido a mi formacion, me gusta mucho la parte back end y bases de datos.
              Trabaje junto a un equipo en la realizacion de una app de facturacion de comercio ya que con mi experiencia en el rubro
              pude aportar mucho. Tambien diseñe una app en Python de scraper a varias webs de ventas online.
              Tengo mucho conocimiento en trabajar en equipos, fortalecer relaciones y potenciar al equipo.
              Me gusta aprender constantemente y descubir nuevas formas de hacer las cosas, me motivan los nuevos desafios.</b>
              </p>
        </span>

    </div>
</div>
